@model CRA.Models.LigneSaisie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LigneSaisie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MissionDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendingDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendingDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FractionDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FractionDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ligne_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
