@model CRA.Models.LigneSaisie

@{
    ViewBag.Title = "AjoutLigne";
}

<h4>Ajouter une ligne de saisie:</h4>
<div>
    @using (Html.BeginForm("AjoutLigne", "User", FormMethod.Post, new { id = @Model.Ligne_id }))
    {

        <div>
            <label>Mission</label>
            @Html.DropDownListFor(model => model.Mission, new SelectList(ViewBag.currentEmployee.Missions))
        </div>
        <div>
            @Html.LabelFor(model => model.MissionDay)
            <input type="date" name="date" />
            @Html.ValidationMessageFor(model => model.MissionDay)
        </div>
        <div>
            @Html.LabelFor(model => model.Comment)
            @Html.EditorFor(model => model.Comment)
        </div>
        <div>
            @Html.LabelFor(model => model.FractionDay)
            <select name="fractionDay">
                <option>matin</option>
                <option>apres_midi</option>
            </select>
        </div>
        <input type="submit" value="Ajouter Ligne Saisie" />
    }
</div>
