@model IEnumerable<CRA.Models.LigneSaisie>
@{
    Layout = "~/Views/Shared/_userLayout.cshtml";
    ViewBag.Title = "Compte Rendu";
}

@* FEEDBACK LE CAS ECHEANT *@
@if (ViewBag.feedback != null)
{
    <script>
        window.alert("@ViewBag.feedback");
    </script>
}

<br />
@* CHOIX SEMAINE *@
<h2>Choix semaine</h2>
<div>
    @using (Html.BeginForm("CompteRendu", "User", FormMethod.Post))
    {
        <input type="date" name="date" /><br/><br />
        <button type="submit" class="btn btn-primary">Choisir Semaine</button>
    }
</div>
<br />

@* FORMULAIRE POUR AJOUTER UNE LIGNE DE SAISIE *@
<h2>Ajouter une ligne de saisie</h2>
<div>
    <form action="/User/AjoutLigne" method="post">
        <div>
            <label>Mission</label>
            <select data-val="true" id="Mission" name="Mission">
                @foreach (var mission in ViewBag.currentEmployee.Missions)
                {
                    <option>@mission</option>
                }

            </select>
        </div>
        <div>
            <label for="MissionDay">MissionDay</label>
            <input type="date" name="date">
            <span class="field-validation-valid" data-valmsg-for="MissionDay" data-valmsg-replace="true"></span>
        </div>
        <div>
            <label for="Comment">Comment</label>
            <input class="text-box single-line" id="Comment" name="Comment" type="text" value="">
        </div>
        <div>
            <label for="FractionDay">FractionDay</label>
            <select name="fractionDay">
                <option>matin</option>
                <option>apres_midi</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter une ligne de saisie</button>

    </form>
</div>

@* AFFICHAGE DES LIGNES DE SAISIES DE LA SEMAINE COURANTE *@
@if (ViewBag.lignes != null)
{
    <h2>Lignes déjà saisies:</h2>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.MissionDay)</th>
            <th>@Html.DisplayNameFor(model => model.FractionDay)</th>
            <th>@Html.DisplayNameFor(model => model.Mission)</th>
            <th>@Html.DisplayNameFor(model => model.Comment)</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>

        @foreach (var ligne in ViewBag.lignes)

        {
            <tr class="@(ligne.State)">
                <td>@(ligne.MissionDay.ToShortDateString())</td>
                <td>@(ligne.FractionDay)</td>
                <td>@(ligne.Mission.Libelle)</td>
                <td>@(ligne.Comment) </td>
                <td>
                    @if (ligne.State != "sent" && ligne.State != "approved")
                    {@Html.ActionLink("Modifier", "UpdateLigne", new { id = ligne.Ligne_id })}
                </td>
                <td>@Html.ActionLink("Supprimer", "DeleteLigne", new { id = ligne.Ligne_id })</td>

            </tr>

        }

    </table>
    if (ViewBag.ChosenWeek == -1)
         {
            <p>Aucune semaine sélectionnée </p>
         }
}


@* BOUTON POUR SAUVEGARDER DES LIGNES DE SAISIES *@
@using (Html.BeginForm("SauverLignes", "User", FormMethod.Post))
{
    <button type="submit" class="btn btn-primary">Sauvegarder</button>
}
</br>
@* BOUTON POUR ENVOYER LES LIGNES DE SAISIES DEJA SAUVEES *@
@using (Html.BeginForm("EnvoyerLignes", "User", FormMethod.Post))
{
    <button type="submit" class="btn btn-primary">Envoyer</button>
}